<ul class='header-menu'>
    <li>
        <a href='/predicted-sales'>PREDICTED SALES</a>
    </li>
    <li>
        <a href='/place-order'>PLACE ORDER</a>
    </li>
    <!-- <li>
        <a href='/sales-report'>SALES REPORT</a>
    </li> -->
</ul>
<hr/>