<html>

<head>
    <title>Kitchen Display System</title>
    <link rel="icon" href="favicon.png">
    <link href='style.css' rel='stylesheet' />
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
</head>

<body>
    <% include partials/header.ejs %> 
    <div>
        <h1 class='main-heading'>KITCHEN DISPLAY SYSTEM</h1>
    </div>
</body>

</html>